<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
            <div class="header">
                <h3>Popular E-Commerce Products</h3>
            </div>
        </div>
    </div>
</div>

<div class="container-flid">
    <div class="row">
        <div class="col-md-3 mt-3">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/pendrive/pendrive/e/p/x/v220g-2in-otg-free-hp-original-imagtpy85ydyhh9s.jpeg?q=70" class="card-img img-fluid">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div>
                        <h6 class="font-weight-semibold">
                            <a class="font-weight">HP 128GB 2In1 pendrive
                            </a>
                        </h6>
                    </div>
                    <h3> $ 13.00 </h3>
                    <button class="btn btn-sm btn-dark mt-2 me-1"> View Details</button>
                    <button class="btn btn-sm btn-danger mt-2">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>