<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
            <div class="header">
                <h3>Popular E-Commerce Products</h3>
            </div>
        </div>
    </div>
</div>

<div class="container-flid">
    <div class="row ">
        <div class="col-md-3 mt-3" *ngFor="let data of productData?.products">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img routerLink="/product-detail" src="{{data.thumbnail}}" class="card-img img-fluid ">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div>
                        <h6 class="font-weight-semibold">
                            <a class="font-weight"> {{data.title}}
                            </a>
                        </h6>
                    </div>
                    <h3> $ {{data.price}} </h3>
                    <button class="btn btn-sm btn-dark mt-2 me-1"> View Details</button>
                    <button class="btn btn-sm btn-danger mt-2">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>