<ng-container *ngIf="showProduct.length != 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8">


                <h3>Cart Items</h3>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of showProduct">
                            <th scope="row"><img src="{{product.images[0]}}" alt="" style="width: 100px;">
                            </th>
                            <td>{{product.brand}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                <button (click)="deleteItem(product)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <h1>Total Amount:</h1>
                <strong>${{totalamount}}</strong>
                <div>
                    <div class="btn btn-primary">Checkout</div>
                    <div class="btn btn-danger" (click)="cartempty()">Empty Cart</div>
                </div>
                <div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mobile</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Address"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showProduct.length == 0">
    <div class="container">
        <div class="center">
            <h4>Add Items to cart</h4>
            <button routerLink="/">Add</button>
        </div>
    </div>
</ng-container>