<nav class="navbar bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand" style="color: white;">
            <a href="navbar-brand">
              E-commerce website
          </a>
        </div>
        <button routerLink="/" class="btn btn-danger ">Back</button>
    </div>
</nav>
<div class="container">
    <div class="row product-detail">
        <div class="col-sm-3">
            <img src="{{productdata?.images[0]}}" alt="">
            <div class="buttons">
                <button class="btn btn-primary">Buy now</button> &nbsp;
                <button class="btn btn-success" *ngIf="showadd" (click)="addtocart()">Add to cart</button>
                <button class="btn btn-success" *ngIf="showremove" (click)="showremoves()">Remove Item</button>
            </div>
        </div>
        <div class="col-sm-8">
            <h1>Hp Pen drive</h1>
            <p>price</p>
            <h3>Special price $:30.00</h3>
            <strong> Category: Electronics</strong><br>
            <strong> Description</strong>
            <p>content goes here.....................</p>
            <p>Discount: 12%</p><br>
            <strong>Stocks : 10 Units left</strong>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->