<nav class="navbar bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand" style="color: white;">
            <a href="navbar-brand">
              E-commerce website
          </a>
        </div>
        <button routerLink="/" class="btn btn-danger ">Back</button>
    </div>
</nav>
<div class="container">
    <div class="row product-detail">
        <div class="col-sm-3">
            <img src="{{productdata?.images[0]}}" alt="">
            <div class="buttons">
                <button class="btn btn-primary">Buy now</button> &nbsp;
                <button class="btn btn-success" (click)="addtocart(productdata)" *ngIf="showadd">Add to cart</button>
                <button class="btn btn-success" (click)="showremoves(productdata)" *ngIf="showremove">Remove Item</button>
            </div>
        </div>
        <div class="col-sm-8">
            <h1>{{productdata?.title}}</h1>
            <p>price</p>
            <h3>Special price $:{{productdata?.price}}</h3>
            <strong> Category: {{productdata?.category}}</strong><br>
            <strong> Description</strong>
            <p>{{productdata?.description}}</p>
            <p>Discount: {{productdata?.discountPercentage}}% </p><br>
            <strong>Stocks : {{productdata?.stock}}</strong>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->